<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h2>All Flight Ticket</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th> NAME</th>
                <th>SEAT NUMBER</th>
                <th>CLASS</th>
                <th>ACTION</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Content 1</td>
                <td>Content 1</td>
                <td>Content 1</td>
                <td><Button style="background-color: red; color: white; font-size: 20px; border-radius: 5px;">Delete</Button></td>
               
            </tr>
            <tr>
                <td>Content 2</td>
                <td>Content 2</td>
                <td>Content 2</td>
                <td><Button style="background-color: red; color: white; font-size: 20px; border-radius: 5px;">Delete</Button></td>

              
            </tr>
          
           
            <tbody>
        </table>
    </div>
</body>
</html>