<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div style="margin-top: 20px;">
            <h1 style="text-align: center; color: blue;"> Travel-Pro Admin </h1>
            <p style="text-align: center; font-weight: bold;">Welcome Admin  name</p>
        </div>
    
        <div style="display: flex; justify-content: center; align-items: center;">
            <a href="/flight.html" style="padding: 20px; background-color: blue; text-decoration: none;  color: white; margin-right: 20px; border-radius: 20px; cursor: pointer;">Create Plane Ticket</a>
            <a href="/ship.html" style="padding: 20px; background-color: blue;  color: white; margin-right: 20px;  text-decoration: none; border-radius: 20px; cursor: pointer;">Create Shipment Ticket</a>
        </div>

        <div style="display: flex; justify-content: center; align-items: center; margin-top: 20px;">
            <a href="/AllFlight.html" style="padding: 20px; background-color: blue; text-decoration: none;  color: white; margin-right: 20px; border-radius: 20px; cursor: pointer;">All Flight Ticket</a>
            <a href="/AllShip.html" style="padding: 20px; background-color: blue;  color: white; margin-right: 20px;  text-decoration: none; border-radius: 20px; cursor: pointer;">All Shipment Ticket</a>
        </div>
    </div>


   
   
</body>
</html>